<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>226187500290-v4q4t3mi0mprgijnk1tfbip7h9jkudh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.226187500290-v4q4t3mi0mprgijnk1tfbip7h9jkudh4</string>
	<key>API_KEY</key>
	<string>AIzaSyAIWHQX0sLRlPWLoN36_0MQPMZswiQCaZk</string>
	<key>GCM_SENDER_ID</key>
	<string>226187500290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wodality.seams</string>
	<key>PROJECT_ID</key>
	<string>wodality-b64ed</string>
	<key>STORAGE_BUCKET</key>
	<string>wodality-b64ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:226187500290:ios:141728410a0c9ead84401b</string>
</dict>
</plist>